<br>
<br>
						

				
					<!-- Footer -->
					<footer id="footer">
						<div class="inner">
						<!--	<section>
								<h2>Get in touch</h2>
								<form method="post" action="#">
									<div class="fields">
										<div class="field half">
											<input type="text" name="name" id="name" placeholder="Name" />
										</div>
										<div class="field half">
											<input type="email" name="email" id="email" placeholder="Email" />
										</div>
										<div class="field">
											<textarea name="message" id="message" placeholder="Message"></textarea>
										</div>
									</div>
									<ul class="actions">
										<li><input type="submit" value="Send" class="primary" /></li>
									</ul>
								</form>
							</section>-->
							<section>
							</section>
							<section>
								<h2>Follow</h2>
								<ul class="icons">
									<li><a href="https://twitter.com/astro_adjacent" class="icon brands style2 fa-twitter"><span class="label">Twitter</span></a></li>
						
									<li><a href="https://instagram.com/astro_adjacent" class="icon brands style2 fa-instagram"><span class="label">Instagram</span></a></li>
							
									<li><a href="https://gitlab.com/tjacovich" class="icon brands style2 fa-gitlab"><span class="label">GitLab</span></a></li>
					
									<li><a href="mailto:tejacovich@gmail.com" class="icon solid style2 fa-envelope"><span class="label">Email</span></a></li>
								</ul>
							</section>
							<ul class="copyright">
								<li>&copy; 2020 Taylor Jacovich. All rights reserved</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
							</ul>
						</div>
					</footer>
			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>
